@charset "utf-8";


/* header */
.header{
    height: 90px;
    margin-bottom: 45px;
    position: relative;
}
.headerWrap{
    display: flex;
    justify-content: space-between;
}
.header .search{
    width: 502px;
    height: 88px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header .search form{
    height: 54px;
    position: relative;
}
.header .search form input{
    width: 100%; 
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: none;
    border-radius: 27px;
    background-color: #004ea2;
    outline: none;
    color: #a2c1e3;
    padding-left: 30px;
    font-size: 1.063em;
    font-weight: bold;
}
.header .search form input:focus{
    border: none;
}
.header .search form input::placeholder{
    color: #a2c1e3;
}
.header .search form button{
    position: absolute;
    position: absolute;
    right: 20px;
    background: url(../img/search.png) no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    background-size: cover;
    top: 10px;
    text-indent: -9999px;
}
.header .search table{
    font-size: 0.813em;
    margin-top: 10px;
    margin-left: 30px;
}
.header .search td{
    padding-left: 12px;
    letter-spacing: -.2px;
}
.header .login{
    font-size: 0.813em;
}
.header .login a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    border-right: 1px solid #000;
}
.header .login a:last-child{
    border-right: none;
}



/* header-scroll */
.scrollHeader{
    width: 100%;
    position: fixed;
    top: 0;
    background: #004ea2;
    height: 80px;
    display: none;
    z-index: 999;
}
.scrollNav{
    width: 100%;
    height: 100%;
    position: relative;
}
.scrollNav ul{
    display: flex;
    margin: 0 325px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.scrollNav ul li{padding: 10px;}
.scrollNav ul li a{
    color: #fff;
    font-size: 1.250em;
}
.scrollNav ul li:hover a{
    color: #d8ebff;
}

/* topBtn */

.topBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
}
.topBtn:hover img{
    content: url(../img/upHover.svg);
}




/* top-banner */
.menu{
    width: 100%;
    background-color: #fbfbfb;
    height: 345px;
    position: relative;
}
.menu .menuLogo{
    position: relative;
    display: flex;
    align-items: end;
    top: -40px;
}
.menu .menuLogo button{
    background: url(../img/menu.png) no-repeat;
    width: 30px;
    height: 20px;
    border: none;
    text-indent: -99999px;
}
.menu .menuLogo a{
    font-size: 0.813em;
    padding-left: 12px;
    font-weight: bold;
}
.menu h1{
    position: absolute;
    top: 35%;
    font-size: 2.250em;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    letter-spacing: -1px;
}
.menu h1 span{
    color: #004ea2;
    font-weight: bold;
}
.menu h2{
    font-size: 1em;
    color: #898989;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: -1px;
}

/*menu-tab*/
.menutab{
    position: relative;
}
.menuNav{
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 26;
    display: none;
}
.close{
    display: flex;
    padding-top: 33px;
}
.closeicon{
    background: url(../img/close.png) no-repeat;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
}
.close a{
    padding-left: 16px;
    padding-top: 1px;
}
.menuNav a{
    color: #fff;
}
.twoDepth{
    margin-top: 30px;
}
.twoDepthFlex{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-weight: bold;
}
.twoDepthFlex > li > a{
    display: block;
    padding-bottom: 36px;
    font-size: 1.063em;
}
.twoDepthgrid{
    position: relative;
}
.twoDepthgrid li{
    padding: 6.5px 0;
}
.twoDepthgrid li a{
    font-size: 0.875em;
}
.twoDepth a:hover{
    color: #009cff;
}
.DepthPd{
    width: 236px;
    height: 373px;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    top: 0;
    left: -270px;
    display: none;
}
.twoDepthgrid .DepthPd a{
   color: #000;
}
.twoDepthgrid li:hover .DepthPd{
    display: block;
}
.DepthPdName{
    margin-top: 23px;
    text-align: center;
}
.DepthPdName a{
    font-size: 0.938em;
}
.DepthPdimg{
    width: 100%;
    height: 218px;
}
.DepthPdimg img{
    width: 100%;
    height: 100%;
}
.DepthPd p{
    font-size: 0.750em;
    text-align: center;
    color: #515151;
    line-height: 19px;
}




/* main */
/* main - bestProduct*/
main{
    width: 100%;
}
.borderBottom{
    border-bottom: 1px solid #c9c9c9;
    padding-top: 70px;
}
.bestProduct{
    margin-bottom: 106PX;
}
.bestProduct .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bestProductName{
    text-align: start;
    font-size: 1.250em;
    position: relative;
    padding-bottom: 12px;
    letter-spacing: -3px;
    font-weight: bold;
}
.bestProductName span{
    padding-right: 7px;
    position: relative;
    top: 2px;
}

.bestPrdWidth{
    margin-bottom: 36px;
}
.imgBox{
    width: 325px;
    height: 270px;
    padding: 36px 0 0;
}
.tableWidth{
    width: 325px;
    margin-top: 15px;
}
.bigFont{
    position: relative;
    font-size: 1.375em;
    width: 180px;
    padding-bottom: 13px;
}
.borderBlue{
    width: 180px;
    height: 3px;
    background: #004ea2;    
    position: absolute;
    bottom: -1.5px;
}

.bigFont2{
    font-size: 1.250em;
    text-align: right;
    color: #898989;
    position: relative;
}
.border{
    width: 148px;
    height: 1px;
    background: #c9caca;
    position: absolute;
    bottom: -1.5px;
    right: 0;
    z-index: -2;
}
.marginTop{
    margin-top: 15px;
    font-size: 0.875em;
    color: #000;
}
.marginRight{
    padding-right: 70px;
    font-weight: bold;
}
.paddingBottom{
    padding-bottom: 10px;
}
.btn3 button{
    margin-top: 36px;
    width: 107px;
    height: 31px;
    border: none;
    color: #f7f7f7;
    font-size: 0.813em;
    letter-spacing: -1px;
}
.gray{
    margin-right: 2px;
    background: #898989;
}
.marginN{
    margin-right: 0;
    background: #000;
}






/* main - productBanner*/
.productBanner{
    width: 100%;
    height: 113px;
    position: relative;
}
.BannerL{
    width: 1126px;
    height: 100%;
    background: #004ea2;
    background:linear-gradient(-61deg, transparent 79px, #004ea2 0);
    position: absolute;
    left: 0;
    transition: .5s ease-in-out;
    overflow: hidden;
}
.BannerL .btnWrap{
    text-align: right;
    margin-left: 395px;
    margin-top: 59px;
    width: 628px;
    position: initial;
}
h3{
    font-size: 1.813em;
    color: #fff;
    padding-bottom: 10px;
    letter-spacing: -1px;
}
h3 span{
    color: #d8ebff;
}
h4{
    font-size: 0.938em;
    color: #fff;
    font-weight: bold;
    letter-spacing: -.5px;
}
.bannerLtxt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.btnWrap{
    position: absolute;
    left: 35%;
    top: 50%;
}
.btnWrap button{
    width: 120.64px;
    height: 34px;
    border-radius: 17px;
    border: none;
    background: #fff;
    color: #004ea2;
    font-size: 0.938em;
}
.btnWrap button:hover{
    background: #737373;
    color: #fff;
}
.btnWrap.BannerRbtn button{
    left: 64px;
    display: none;
    color: #737373;
    background: #fff;
}
.BannerR{
    width: 385px;
    height: 100%;
    background: #737373;
    background:linear-gradient(119deg, transparent 79px, #737373 0);
    position: absolute;
    right: 0;
    transition: .5s ease-in-out;
    overflow: hidden;
}
.bannerButton{
    display: flex;
    gap: 6px;
    left: 132px;
    width: 706px;
    position: absolute;
    top: 59px;
}
.bannerButton button{
    width: 120.64px;
    height: 34px;
    border-radius: 17px;
    border: none;
    background: #fff;
    color: #737373;
    font-size: 0.938em;
}
.BannerR:hover{
    width: 1126px;
    transition: .5s ease-in-out;
}

.bannerButton button:hover{
    background: #000;
    color: #fff;
}
.bannerRtxt{
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    right: -15px;
    color: #fff;
    z-index: 22;
    background: #737373;
    height: 62px;
    width: 330px;
}
h5{
    font-size: 1.563em;
    padding-bottom: 10px;
    letter-spacing: -1px;
    padding-left: 15px;
    transition: .5s ease-in-out;
}
h6{
    font-size: 0.813em;
    letter-spacing: -.5px;
    font-weight: bold;
    transition: .5s ease-in-out;
    padding-left: 15px;
}










/* main - 3depth*/

.selectBox{
    display: flex;
    justify-content: center;
    height: 64px;
    margin-top: 60px;

}
.btn-select.btnHover{
    border-bottom: 0;
    border-radius: 10px 10px 0 0 ;
}
.btn-select{
    width: 330px;
    height: 64px;
    font-size: 1.000em;
    border-radius: 10px;
    margin: 0 2px ;
    padding-left: 30px;
    border: 1px solid #c9caca;
    background: url(../img/moreButton2.png) no-repeat 92% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #898989;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: left;
    position: relative;
    z-index: 23;
}

.cont-select:hover .btn-select{
    border: 3px solid #004ea2;
    padding-left: 28px;
    color: #004ea2;
    background: url(../img/moreButton.png) no-repeat 92.5% 50%;
    border-bottom: 0;
    border-radius: 10px 10px 0 0 ;
    height: 61px;
    top: 0;
}
.cont-select:hover .btn-select .bar{
    display: block;
}
.cont-select:hover .list-member{
    display: block;
    border: 3px solid #004ea2;
    border-top: none;
}
.cont-select:hover .list-member button{
    width: 324px;
}
.list-member{
    width: 330px;
    font-size: 1.000em;
    border: 1px solid #c9caca;
    border-top: none;
    position: relative;
    top: 0;
    border-radius:0 0 10px 10px;
    left: 2px;
    z-index: 22;
    padding-top: 13px;
    display: none;
}
.list-member li:hover button{
    color: #004ea2;
}
.list-member.list-memberShow{
    border: 3px solid #004ea2;
    top: -8px;
}
.list-member.list-memberShow button{
    width: 324px;
}
.list-member button{
    width: 328px;
    height: 40px;
    border: none;
    background: #fff;
    font-weight: bold;
    color: #898989;
    font-size: 0.938em;
}
.bar{
    width: 85%;
    height: 1px;
    background: #c9caca;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    display: none;
}
.list-member li:last-child button{
    border-radius: 0 0 10px 10px; 
}
/* .depth{
    display: flex;
    justify-content: center;
}
.depth select{
    width: 330px;
    height: 64px;
    font-size: 1.000em;
    border-radius: 10px;
    margin: 54px 2px 0;
    padding-left: 30px;
    border: 1px solid #c9caca;
    background: url(../img/moreButton2.png) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #898989;
    letter-spacing: -1px;
    font-weight: bold;
}
.depth select:last-child{
    margin-right: 0;
}
.depth select:focus-visible{
    border: 3px solid #004ea2;
    outline: none;
    background: url(../img/moreButton.png) no-repeat 95% 50%; 
}*/









/* main - products*/
.concrete{
    font-size: 1.500em;
    color: #004ea2;
    font-weight: bold;
    padding-bottom: 9px;
    letter-spacing: -1px;
}
.concrete span{
    margin-right: 7px;
}
aside{
    width: 325PX;
    margin-top: 39px;
    font-size: 1.000em;
    letter-spacing: -2px;
}
aside span{
    letter-spacing: -.5px;
}
.productBoxW{
    display: flex;
}
.productBoxW ul li{
   width: 100%;
   height: 29px;
   line-height: 29px;
   padding-left: 20px;
   margin-bottom: 20px;
}
.productBoxW ul li:hover{
    background: #004ea2;
}
.productBoxW ul li:hover a{
    color: #fff;
}
.productBoxW a{
    color: #000;
}
.productBoxW form{
    display: flex;
    flex-wrap: wrap;
    width: 1075px;
    padding-left: 27px;
    
    gap: 34px;
}
.productBoxW form > table{
    position: relative;
}
.productBoxW form > table::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0px;
    right: -18px;
    bottom: 0px;
    border-right: 1px solid #e5e5e5;
    z-index: -1;
}
.productBoxW form > table:nth-child(3n+0):before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 20px;
    border-right: none; 
    z-index: 1;
}
.productBoxW form > table:nth-child(3){
    border-right: none;
}
.concreteMg{
    margin-top: 20px;
}
.productBtm{
    padding-bottom: 79px;
}
.bestProduct{
    margin-bottom:70px;
}






/*footer*/
.footer{
    background-color: #fbfbfb;
    font-family: 'NanumSquareR', sans-serif;
}
.service{
    font-size: 1.250em;
    color: #000;
    font-weight: bold;
    padding-bottom: 12px;
    }
.service span{
    position: relative;
    top: 2px;
}
.information{
    padding-top: 50px;
}
.informationBox{
    display: flex;
    gap: 58px;
    padding-bottom: 56px;
    letter-spacing: -1px;
    font-weight: bold;
}
.informationTop{
    font-size: 1.063em;
    padding-bottom: 36px;
    color: #163043;
}
.informationTop span{
    padding-right: 3px
}
.informationTop span img{
    position: relative;
    top: -4px;
}
.information table,p{
    font-size: 0.938em;
}
.information table td{
    padding-right: 20px;
    padding-bottom: 10px;
    color: #163043;
}
.information table a{
    color: #163043;
}
.hours{
    display: flex;
    color: #163043;
}
.hoursRight button{
    display: block;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border: none;
    margin-bottom: 6px;
    font-size: 0.875em;
    background: #898989;
    color: #fff;
}
.information p{
    padding-top: 3px;
}
.hoursRight  .btnColor{
    background: #004ea2;
}
#map {
    width: 473px;
    height: 286px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    position: absolute;
}
.footerBtm{
    background: #fff;
    padding-top: 56px;
    line-height: 26px;
    padding-bottom: 56px;
}
.addr{
    letter-spacing: -.2px;
}
cite{
    font-size: 1.063em;
    font-weight: bold;
    color: #163043;
}
address{
    color: #163043;
    font-size: 0.938em;
    font-weight: normal;
}
address a{
    color: #163043;
}

