@charset "utf-8";

@import url(./style.css);
@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);

.headerFont th, .buy td{
    font-family: 'NanumSquareL', sans-serif;
}
.buy td input {
    font-family: 'SCDream2', sans-serif;
}
.buy td button{
    font-family: 'NanumSquareR', sans-serif;
}
/* 

{
    font-family: 'NanumSquareEB', sans-serif;
} */
.top1{
    position: relative;
    top: 1px;
}
.buy .nameColor{
    color: #004ea2;
    padding-right: 0;
}
.buy .left3{
    left: -3px;
}
.buy table{
    width: 100%;
    border-top: 3px solid #004ea2;
}
.buy tr{
    border-bottom: 1px solid #c9caca;
}
.buy tr th:first-child{
    width: 100px;
    padding-left: 0;
}
.buy th{
    font-size: 0.875em;
    letter-spacing: -.77px;
    background: #f2f2f2;
    vertical-align: middle;
    height: 50px;
}
.buy td{
    height: 60px;
    top: -25px;
    font-size: 0.813em;
    letter-spacing: normal;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}
.buy td input{
    width: 72px;
    height: 33px;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    text-align: center;
    font-weight: 200;
    font-size: 13px;
    color: #000;
}
.buy td input:focus{
    outline: 1px solid #000;
}
.buy td button{
    width: 70px;
    height: 35px;
    border: 0;
    border-radius: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
    letter-spacing: -.42px;
    position: relative;
    top: -1.5px;
    font-weight: normal;
}
.buy td button:hover{
    background: #004ea2;
}
.buyImg{
    width: 100%;
    height: 100%;
    background: url(../img/img24.png) no-repeat center; 
}
.W100{
    width: 100px;
}
.W110{
    width: 110px;
}
.W135{
    width: 135px;
}
.W290{
    width: 290px;
}

