@charset "utf-8";

@import url(./style.css);
@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);
@import url(./product.css);


.viewDetailsRTop p,.viewDetails h3, .productNumber, .viewDetailsRTop h4, .viewDetailsRMiddleR label input, .bigF, .AdditionalProduct input, .finalPriceSmallf, .DetailSigongBtn button,.viewDetailsbottomLBtm p{
  font-family: 'NanumSquareL', sans-serif;
}
 .viewDetailsRMiddleL,.twoBtn button,.selectBoxItem .bestProduct th button, .estimateTit p:nth-child(2), .estimate table,.totalL, .totalR span,.viewDetailsRMiddle span, .AdditionalProduct span, .AdditionalProduct label, .smallF, .sum strong, .sum .finalPrice span, .estimateTitPadding button, .estimateTitPadding input,.totalBtn button{
  font-family: 'NanumSquareR', sans-serif;
}
.viewDetailsRMiddle strong, .percent strong, .viewDetailsbottomLTop strong,.Additional, .AdditionalProduct strong,  .red, .estimateTit span{
  font-family: 'NanumSquareEB', sans-serif;
}
.viewDetailsRMiddleR, .Additional, .AdditionalProduct strong,.percent span,.totalR, .DetailSigongBtn button:hover, .estimateTit p:first-child{
  font-family: 'NanumSquareB', sans-serif;
}
.selectBoxItem .bestProduct input {
  font-family: 'SCDream2', sans-serif;
}

.viewDetails{
  width: 100%;
  padding-top: 67px;
  margin-bottom: 20px;
}
.viewDetails h3{
  font-size: 1.250em;
  color: #163043;
  padding-bottom: 30px;
  font-weight: bold;
}
.DetailWrap{
  display: flex;
  gap: 18px;
}
.viewDetailsL{
  width: 480px;
  height: 480px;
  border: 1px solid #89898959; 
  position: relative;
}
.productNumber{
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  color: #fff;
  width: 155px;
  height: 25px;
  font-size: 0.813em;
  text-align: center;
  line-height: 25px;
  letter-spacing: -.5px;
  font-weight: bold;
}
.productNumber span{
  padding-left: 3px;
}
.mainPhoto{
  width: 100%;
  height: 100%;
  background: url(../img/productDetails.png) no-repeat center;
}
.viewDetailsR{
  width: 900px;
  position: relative;
}
.viewDetailsRTop{
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #c9caca;
}
.viewDetailsRTop h4{
  color: #000;
  font-size: 1.875em;
  font-weight: normal;
}
.viewDetailsRTop p{
  font-size: 0.750em;
  color: #898989;
}
.viewDetailsRBorder{
  width: 180px;
  height: 3px;
  background: #004ea2;
  position: relative;
  top: -3px ;
}
.viewDetailsRMiddle{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9caca;
  align-items: center;
  margin-bottom: 39px;
}
.viewDetailsRMiddle strong{
  font-weight: bold;
  font-size: 0.875em;
  padding-right: 5px;
}
.viewDetailsRMiddle span{
  font-size: 0.875em;
  color: #898989;
}
.viewDetailsRMiddleL{
  display: flex;
  gap: 15px;
}
.viewDetailsRMiddleL > div::after{
  content: "·";
  color: #000;
  padding-left: 10px;
}
.viewDetailsRMiddleL > div:last-child:after{
  display: none;
}
.viewDetailsRMiddleR label{
  font-size: 0.813em;
  font-weight: normal;
  color: #000;
}
.viewDetailsRMiddleR label input{
  width: 55px;
  height: 30px;
  border: none;
  background: #f0f0f0;
  text-align: center;
  font-weight: bold;
  margin-left: 19px;
}
.viewDetailsRMiddleR label input:focus{
  outline: 1px solid;
}
.viewDetailsbottom{
  display: flex;
  justify-content: space-between;
  height: 317px;
}
.viewDetailsbottomL{
  width: 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.percent{
  display: flex;
  padding-bottom: 24px;
}
.percent > div{
  padding-right: 20px;
}
.percent > div:last-child{
  padding-right: 0;
}
.percent strong{
  font-weight: bold;
  font-size: 0.875em;
}
.percent span{
  font-size: 0.938em;
  color: #727272;
  font-weight: bold;
}
.percent strong.naverColor{
color: #22a21b;
}
.viewDetailsbottomLTop strong{
  font-weight: bold;
  font-size: 0.875em;
}
.bigFWrap{
  display: flex;
  margin-bottom: 60px;
}
.bigFWrap strong{
  padding-right: 11px;
}
.Additional{
  border-bottom: 1px solid #c9caca;
}
.AdditionalProduct{
  border-bottom: 1px solid #c9caca;
}
.bigF{
  font-size: 2.813em;
  line-height: 0.7;
}
.smallF{
  font-size: 1.250em;
  line-height: 2;
}
.viewDetailsbottomLBtm{
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.viewDetailsbottomLBtm p{
  font-size: 0.813em;
  color: #898989;
  width: 357px;
  line-height: 21px;
  letter-spacing: -.5px;
  font-weight: normal;
}
.viewDetailsImgBoxWrap{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}
.viewDetailsImgBox{
  width: 83px;
  height: 83px;
  border: 1px solid #c9caca;
}
.viewDetailsImgBoxBorder{
  box-shadow: 0 0 0 3px #004ea2 inset;
}
.viewDetailsImgBox4{
  background: url(../img/productDetails1.png) no-repeat;
  background-size: cover;
}
.viewDetailsImgBox3{
  background: url(../img/productDetails2.png) no-repeat;
  background-size: cover;
}
.viewDetailsImgBox2{
  background: url(../img/productDetails3.png) no-repeat;
  background-size: cover;
}
.viewDetailsImgBox1{
  background: url(../img/productDetails4.png) no-repeat;
  background-size: cover;
}

.viewDetailsbottomR{
  width: 405px;
  position: relative;
}
.Additional{
  font-size: 1em;
  padding-bottom: 10px;
  font-weight: normal;
}
.AdditionalProduct{
  padding-top: 20px;
  font-size: 0.813em;
  height: 133px;
}
.AdditionalProduct strong{
  letter-spacing: -.6px;
  padding-right: 5px;
  font-weight: normal;
}
.AdditionalProduct span{
  font-weight: bold;
  padding-right: 5px;
}
.AdditionalProduct input{
  width: 50px;
  border: none;
  background: #f0f0f0;
  text-align: center;
  height: 20px;
  font-weight: bold;
}
.AdditionalProduct input:focus{
  outline: 1px solid;
}
.paddingR{
  letter-spacing: -.3px;  
}
.sum{
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
}
.sum strong{
  font-size: 1em;
}
.finalPrice{
  display: flex;
}
.sum .finalPrice .finalPriceBigf{
  font-size: 1.563em;
  color: #004ea2;
  padding-right: 6px;
}
.finalPriceSmallf{
  font-size: 0.875em;
  padding-top: 2px;
}
.twoBtn{
  position: absolute;
  right: 0;
  bottom: 0;
}
.twoBtn button{
  width: 130px;
  height: 45px;
  background: #000;
  color: #fff;
  letter-spacing: -1px;
}
.twoBtn button.margin{
margin-right: -3px;
}





.estimate{
  width: 576px;
  height: 840px;
  /* height: 885px; */
  background: #fff;
  border: 5px solid #000;
  position: absolute;
  z-index: 1;
  top: -55px;
  right: 132px;
  padding:  21px 13px 10px;
  display: none;
}
.estimateTit{
  position: relative;
}
.estimateTit p:first-child{
  font-size: 1.188em;
  padding-bottom: 7px;
  letter-spacing: -.5px;
}
.estimateTit p:nth-child(2){
  letter-spacing: -.7px;
  font-size: 0.813em;
  padding-bottom: 20px;
  border-bottom: 3px solid #000;
}
.estimateTit .closeBtn{
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background: url(../img/closeBlack.png) no-repeat ;
  background-size: cover;
}
.blue{
  color: #004ea2;
}
.black{
  color: #000;
}
.red{
  color: #cc1414;
}
.estimate tr{
  height: 45px;
  border-bottom: 1px solid #b4b4b45e;
}
.estimate tr:first-child, .estimate tr:last-child{
  border-bottom: 1px solid #b4b4b4;
}
.estimate tr th{
  background: #f0f0f0;
  letter-spacing: -.5px;
}
.estimate tr th, .estimate tr td{
  vertical-align: middle;
  text-align: center;
}
.estimate table{
  margin-bottom: 31px;
  width: 100%;
  font-size: 0.813em;
}
.estimate tr td:first-child{
  text-align: left;
  padding-left: 19px;
  letter-spacing: -.5px;
}
.estimate tr td:last-child{
  padding-right: 19px;
}
.estimate tr th:first-child{
  width: 210px;
}
.estimate tr th:nth-child(2){
  width: 185px;
}
.estimate tr th:last-child{
  padding-right: 19px;
}
.estimateTitPadding th:first-child{
  text-align: left;
}
.estimateTitPadding th:last-child{
  text-align: right;
}
.estimateTitPadding th{
  padding: 19px;
}
.inline{
  display: inline-block;
  padding-right: 15px;
  font-size: 1em;
}
.estimateTitPadding input{
  width: 163px;
  height: 31px;
  /* height: 27px; */
  border: 1px solid #b4b4b4;
  /* border: 3px solid #cc1414; */
  margin-right: 4px;
  font-size: 0.813em;
}
.estimateTitPadding input:focus{
  outline: none;
}
.estimateTitPadding input.inputBox{
  width: 159px;
  height: 27px;
  border: 3px solid #cc1414;
}
.estimateTitPadding input.marginL.inputBoxMarginL{
  width: 257px;
}
.estimateTitPadding button{
  width: 90px;
  height: 35px;
  border: none;
  padding: 0;
  position: relative;
  top: 1px;
  margin-right: 2px;
  background: #000;
  color: #fff;
  font-size: 1em;
  letter-spacing: -1px;
}
.estimate tr td:last-child.paddingT{
  padding: 6px 0px 6px 19px ;
  position: relative;
}
.paddingT .inlineBlock{
  display: inline-block;
  font-size: 1.153em;
  position: absolute;
  right: 16px;
  top: 16px;
  display: none;
}
.estimateTitPadding button.expenseColor{
  background: #004ea2;
}
.estimateTitPadding input.marginL{
  margin: 5px 0 0 51px;
  width: 261px;
}
.lineHeight{
  display: none;
  line-height: 18px;
  padding-left: 52px;
  margin-top: 9px;
}
.estimateTitPadding tr, .estimateTitPadding td{
  border-bottom: 1px solid #b4b4b4;
}
.estimateTitPadding tr .pFlex{
  display: flex;
  border-bottom: 0;
  height: 43px;
  
  line-height: 43px;
}
.estimateTitPadding tr .pFlex span{
  padding-left: 18px;
}
.estimate table.estimateTitPadding{
  margin-bottom: 24px;
}
.estimate table.estimateTitPadding td{
  letter-spacing: -.6px;
}
.total{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.totalL{
  font-size: 1.063em;
  letter-spacing: -1px;
}
.totalR{
  font-size: 1.250em;
  color: #004ea2;
  letter-spacing: -1px;
}
.totalR span{
  color: #000;
  font-size: 0.688em;
}
.totalBtn{
  display: flex;
  justify-content: flex-end;
  padding:  10px;
}
.totalBtn button{
  width: 122px;
  height: 43px;
  margin-left: 5px;
  border: none;
  background: #004ea2;
  color: #fff;
  font-size: 0.875em;
  letter-spacing: -1px;
}
.totalBtn button:first-child{
  background: #000;
}






.selectBoxItem .position .bestProduct td.W100 button{
  width: 76px;
  height: 32px;
  font-weight: normal;
}


.bestProductBottom{
  margin-bottom: 72px;
}
.DetailSigongBtn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 35px;
}
.DetailSigongBtn button{
  width: 25%;
  height: 50px;
  border: none;
  background: #dedede;
  font-size: 1.063em;
  font-weight: bold;
  letter-spacing: -1px;
}
.DetailSigongBtn button:hover{
  background: #000;
  color: #fff;
}
.DetailSigongPhoto{
  width: 100%;
  height: 550px;
  display: flex;
  gap: 17px;
  justify-content: space-between;
}
.DetailSigongPhotoL{
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  gap: 12.5px 17px;
}
.SigongPhoto{
  background: #f2f2f2;
  width: 150px;
  height: 100px;
}
.DetailSigongPhotoR{
  background: red;
  height: 100%;
  width: 1065px;
}
.SigongPhoto1{
  background: url(../img/sigong1.jpg) no-repeat;
  background-size: cover;
}
.SigongPhoto2{
  background: url(../img/sigong2.jpg) no-repeat;
  background-size: cover;
}
.SigongPhoto3{
  background: url(../img/sigong3.jpg) no-repeat;
  background-size: cover;
}
.SigongPhoto4{
  background: url(../img/sigong4.jpg) no-repeat;
  background-size: cover;
}

.selectBoxItem .bestProduct .buyImg.buyImg1{
  background: url(../img/product16.png) no-repeat center;
  background-size: auto;
}
.selectBoxItem .bestProduct .buyImg.buyImg2{
  background: url(../img/product17.png) no-repeat center;
  background-size: auto;
}






.pagination {
    display: inline-block;
    position: relative;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
  }
  .fontChange{
    font-family:  cursive;
    letter-spacing: -4px;
  }
  .left{
    position: relative;
    left: -20px;
  }
  .right{
    position: relative;
    right: -16px;
  }













  .selectBoxItem .bestProduct{
    width: 100%;
}
.bestProduct table{
    width: 100%;
}
.shadow{
    box-shadow: 0 0 0 4px #004ea2 inset;
}