@charset "utf-8";

@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);

h1,h2, .marginTop td,.menuNav {
    font-family: 'NanumSquareL', sans-serif;
}
select,.concrete, h5, h3, .scrollNav ul li a {
    font-family: 'NanumSquareB', sans-serif;
}
h4, h6, .menuLogo .innerWrap > a, aside, .search input, .searchBottom td, .login a, .tableWidth td, .searchBottom th, .header .search td, .btn-select,.DepthPdName a ,.DepthPd p, .list-member button{
    font-family: 'NanumSquareR', sans-serif;
}
.btnWrap button, .snsLogin button, .bannerButton button {
    font-family: 'NanumSquareEB', sans-serif;
}

.gradationborder{
    letter-spacing: -1px;
    height: 38px;
}
.bigFont.fontDown{
    height: 38px;
}
.bigFont.fontDown9{
    width: 202px;
    font-size: 0.95em;
    letter-spacing: -1.5px;
}
.bigFont.fontDown3{
    width: 200px;
    font-size: 1.2em;
}
.bigFont.fontDown4{
    width: 202px;
    font-size: 1.16em;
}
.searchBottom th{
    font-weight: bold;
}


/* jquery로 class추가 */
.active{
    background: #004ea2;
    color: #fff;
}

